@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
    margin: 0px;
    background: #f3f3f3;
}

/* Larger than mobile */
@media (min-width: 400px) {
    body {
        font-size: 1.55em;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    body {
        font-size: 1.5em;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    body {
        font-size: 1.45em;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    body {
        font-size: 1.4em;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    body {
        font-size: 1.35em;
    }
}

/* Header styling
------------------------------------------------*/

h4, h5 {
    text-align: center;
}

h4 {
    font-size: 1.8em;
    font-weight: 500;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

h5 {
    font-size: 1.3em;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

h6 {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

/*When in portrait mode, not necessary 
to see title (already seen)*/
@media (min-aspect-ratio: 8/3) {
    h4, h5 {
        display: none;
    }
}

/*1-level wrappers styling
------------------------------------------------*/
/*Add space between contents and viewport*/
#dash-dev-entry {
    margin: 2vh 2vw;
    scroll-snap-type: y mandatory;
}

/*Try to focus view on important places...*/
#dash-dev-entry > div:first-of-type, h4 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/*Tab and graph should take up entire vieport,
minus margins*/
#dash-dev-entry > div:first-of-type {
    height: 96vh;
    width: 96vw;
    display: flex;
    flex-flow: column nowrap;
}

/* Make outer contaitner row flex if viewport narrow?*/
@media (min-aspect-ratio: 2/1) {

}

/*Add space between graph and control panel papers*/
#graph {
    margin-top: 2vh;
    flex: 1 1 0; /* Doesn't shrink...*/
}

.paper {
    background: white;
    padding: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.068);
    border-radius: 0.25em;
}

#statistics {
    margin-top: 2vh;
}


#statistics div:not(:last-child){ /*statistics cards*/
    margin-right: 2vw;
}

/*----------------------Custom tab stylings--------------------------------*/
/* Mobile first */
.custom-tabs-container {
    margin-bottom: 1em;
}

.tab.custom-tab {
    background-color: white;
    padding: 0.5em 0;
}

.tab.custom-tab:first-of-type {
    border-radius: 0.25em 0.25em 0 0;
}

.tab.custom-tab:last-of-type {
    border-radius: 0 0 0.25em 0.25em;
}

/* For all wider devices tabs are organised in rows*/
@media (min-width: 420px), (min-aspect-ratio: 2/1) {
    .tab.custom-tab {
        border: none;
        border-bottom: 1px solid #d6d6d6;
        width: calc(100% / 4);
        border-radius: 0.25em 0.25em 0 0;
    }

    .tab.custom-tab:last-of-type {
        border-right: none;
    }

    .tab--selected.custom-tab--selected {
        border: 1px solid #d6d6d6;
        border-bottom: none;
    }

    .tab--selected.custom-tab--selected:last-of-type {
        border-bottom: none;
        border-right: 1px solid #d6d6d6;
    }

    .tab-container.custom-tabs-container {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

/*-----------------------Data source tab content styling-----------------------------*/
/* First div under data source dropdown*/
#meas-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5%;
}

/* Two divs directly under meas-select that wraps
when width of checkbox element is reached. Auto ensures
baseline (before wrap) is calculated from that width*/
#meas-select > div {
    flex: 1 1 auto
}

/* These correspond to the checkboxes, which there are two of:
one for pump stations and one for weather stations.
Flex-flow ensures elements wrap when width is reached for the second time*/
#meas-select > div div {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#meas-select > div div label {
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meas-select > div div label input{
    margin-right: 0.4em;
}

/*--------------------------Time tab content stylings-----------------------------*/
/*First div/container under tab component*/
#time-form {
    display: flex;
    flex-flow: row wrap;
}

/*Boxes that hold a descriptor and input element*/
#time-form > div {
    border-right: 0.5px solid rgb(192, 192, 192);
    padding: 0.25em 0.5em 0.5em 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 auto;
    max-width: 100%;
}

/*Remove border of last element*/
#time-form > div:last-child {
    border-right: none;
}

#date-selector {
    flex: 1 0 auto
}

#hours-select {
    flex: 1 0 0;
    min-width: 20em;
}

#time-form .dash-dropdown {
    white-space: nowrap;
    flex: 1 0 0;
    min-width: 5em;
}

#time-form > div > p {
    white-space: nowrap;
    margin-bottom: 0;
    margin-right: 0.25em;
    flex: 0 0 auto;
}

/*------------------Aggragation tab content stylings-------------------------------------*/
/*First wrapper below navbar*/
#agg-form {
    display: flex;
    flex-flow: row wrap;
}

/*Description on its own line (width)*/
#agg-form > p {
    color: rgba(87, 87, 87, 0.753);
    width: 100%;
    text-align: center;
}

/*Tww divs so dropdowns are wrapped 2by2
Second highest flexbasis -> wrapped second to first*/
#agg-form > div {
    flex: 1 1 10.5em;
    display: flex;
    flex-flow: row wrap;
}

/*Two of these are wrapped inside above div
Highest flexbasis -> First to wrap onto multiple lines*/
#agg-form > div > div {
    flex: 1 1 11em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* text container does not flex*/
#agg-form div div p {
    text-align: center;
    flex: 0 0 4em;
    margin: 0em 0.5em;
}

/* dropdowns can flex horisontally and wraps lastly of all wrapeable content*/
#agg-form .dash-dropdown {
    flex: 1 0 5em;
}

/*-----------------------------Precipitation filter form styiling------------------------*/
#prec-form > p {
    color: rgba(87, 87, 87, 0.753);
}

#prec-form > div > div:first-of-type {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#prec-form > div > div:first-of-type p {
    margin: 0px;
}

#input-treshold {
    flex: 0 1 15em;
}